<form class="container">
  <mat-card class="example-card login-card">
    <mat-card-header>
      <mat-card-title class="card-header">AUTHENTICATION</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="content">
      <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password">
      </mat-form-field>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button type="button">Sign up</button>
      <span class="spacer"></span>
      <button mat-button color="primary" mat-stroked-button type="submit">LOGIN</button>
    </mat-card-actions>
  </mat-card>
</form>
