$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);

.br-hide {
    display: none;
}
.br-show {
    display: block;
}
.br-show-flex {
    display: flex;
}

@each $label, $value in $breakpoints {
   
    .br-#{$label}-hide {
        @media (max-width: $value - 1) {
            display: none;
        }
    }
    .br-#{$label}-show {
        @media (max-width: $value - 1) {
            display: block;
        }
    }
    .br-#{$label}-show-flex {
        @media (max-width: $value - 1) {
            display: flex;
        }
    }
    .br-#{$label}-full-width {
        @media (max-width: $value - 1) {
            width: 100%;
        }
    }
}

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}