@import '../../../scss/index';

#map {
  height: 100vh;
  width: 100%;
}
.search-wrapper {
  position: fixed;
  bottom: 0;
  height: 130px;
  width: 100vw;
  background: white;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding: 15px 33px;
  .input-part {
    display: flex;
    flex-direction: column;
    position: relative;
    .hi {
      font-size: .7em;
      font-weight: 300;
      color: rgba(black, .8);
    }
    .text {
      font-size: 1.1em;
      margin-bottom: 7px;
    }
    .input-wrapper {
      position: relative;
      width: 100%;
      input {
        width: 100%;
        padding: .4em .8em;
        height: 45px;
        border-radius: 10px;
        outline: none;
        box-shadow: 0 3px 19px rgba(92, 92, 92, 0.16);
        border: none;
        font-size: 1.1em;
        ::-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #bebebe;
        }
      }
      button {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        right: 15px;
        top: 6px;
        background-image: linear-gradient(110deg, #ffbd00 0%, #ff7a00 100%);
        border: none;
        transition: .2s;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img {
          width: 100%;
          height: auto;
        }
        &:active {
          background-image: linear-gradient(110deg, darken(#ffbd00, 5%) 0%, darken(#ff7a00, 5%) 100%);
          outline: none;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}
.dest-input {
  top: 2px;
  right: 6px;
  position: absolute;
  input {
    padding: 8px 16px;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 3px 19px rgba(92, 92, 92, 0.16);
    border: none;
  }
}
